*{
    font-family: system-ui;
}
.page{
    display: flex;
    place-items: center;
    flex-direction: column;
    
}

.controllerSession{
    background-color: #304156 !important;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}



.counter{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.btnControllerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnControllerDiv button {
    width: 10px;
    background-color: #304156;
    font-size: 1rem;
    text-align: center;
    
} 